<div class="confirming-order">
  <div class="p-grid">
    <div class="p-col-12">
      <p-message severity="info" text="Approval Instructions: Please complete the approval section, populating all required fields (*)."></p-message>
    </div>
  </div>
  <div class="row-separator"><!--*ngIf="showUnitApproval"-->
    <form>
        <p-card [style]="{'width': '100%'}">
          <p-header>
            Unit Approvals:
            <span class="bold">&nbsp;<i class="pi pi-info-circle" (mouseenter)="helpText.toggle($event)"></i></span>
            <p-overlayPanel #helpText appendTo="body">
              <b>Please complete the approval section, populating all required fields (*).</b>
              <ul >
                <li>Select Unit from Unit Approver dropdown</li>
                <li>Once approved from prior unit, select appropriate BOC / REC to advance this form and click on Submit</li>
              </ul>
            </p-overlayPanel>
          </p-header>
          <div class="p-grid">
            <div class="p-col-4">
              <form #applicantForm="ngForm">
                <div class="p-grid">
                  <div class="p-col-3 form-label">
                    Unit Approver:
                  </div>
                  <div class="p-col-9">
                    <p-dropdown [options]="unitApprovers" required [(ngModel)]="selectedUnitApprover" name="selectedUnitApproverName" #selectedUnitApproverName="ngModel" placeholder="Select a Unit Approver"
                                [disabled]="loggedUser !== 'applicant'" [style]="{'width':'100%'}" (onChange)="setUnitEmail()"></p-dropdown>
                    <div *ngIf="selectedUnitApproverName.invalid && (selectedUnitApproverName.touched || (selectedUnitApproverName.pristine && formSubmitted)) && selectedUnitApproverName.errors.required" class="error-alert">Unit Approver is required</div>
                  </div>
                </div>
                <div class="p-grid row-separator">
                  <div class="p-col-3 form-label">
                    Date:
                  </div>
                  <div class="p-col-9">
                    <p-calendar [(ngModel)]="unitApprovedDate" required name="unitApprovedDate" #unitApprovedDateModel ="ngModel" showButtonBar="true" [disabled]="loggedUser !== 'applicant'" [readonlyInput]="true" [showIcon]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'92%'}" ></p-calendar>
                    <div *ngIf="unitApprovedDateModel.invalid && (unitApprovedDateModel.touched || (unitApprovedDateModel.pristine && formSubmitted)) && unitApprovedDateModel.errors.required" class="error-alert">Unit Approver date is required</div>
                  </div>
                </div>
                <div class="p-grid row-separator">
                  <div class="p-col-3 form-label">
                    BOC:
                  </div>
                  <div class="p-col-9">
                    <p-dropdown [options]="bocApprovers" [(ngModel)]="selectedBocApprover" name="selectedBocApprover" placeholder="Select a BOC" #selectedBocApproverModel ="ngModel"
                                [disabled]="loggedUser !== 'applicant'" [style]="{'width':'100%'}" required></p-dropdown>
                    <div *ngIf="selectedBocApproverModel.invalid && (selectedBocApproverModel.touched || (selectedBocApproverModel.pristine && formSubmitted)) && selectedBocApproverModel.errors.required" class="error-alert">BOC Approver is required</div>
                  </div>
                </div>
              </form>
            </div>

            <div class="p-col-7 p-offset-1">
              <div class="p-grid">
                <div class="p-col-2 form-label">
                  Email:
                </div>
                <div class="p-col-10">
                  <input type="text" class="full-width" pInputText [(ngModel)]="unitApproverEmail" name="unitApproverEmail" [disabled]="true  "/>
                </div>
              </div>
              <div class="p-grid row-separator"> <!-- *ngIf="this.loggedUser !== 'applicant'"-->
                <div class="p-col-2 form-label">
                  Comments:
                </div>
                <div class="p-col-10">
                  <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="true"  [(ngModel)]="unitApproverComments" name="unitApproverComments" class="full-width"
                            #unitApproverCommentsModel ="ngModel" [disabled]="loggedUser !== 'unitApprover'" required></textarea>
                  <div *ngIf="unitApproverCommentsModel.invalid && (unitApproverCommentsModel.touched || (unitApproverCommentsModel.pristine && formSubmitted)) && unitApproverCommentsModel.errors.required" class="error-alert">Unit Approver Comments are required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-grid row-separator" > <!-- *ngIf="this.loggedUser !== 'applicant'"-->
            <div class="p-col-5 form-label p-grid p-justify-end">
              Select an option:
            </div>
            <div class="p-col-5 p-grid actions-separator">
              <p-radioButton required name="group1" value="APPROVE" label="Approve" [(ngModel)]="unitApproverAction" inputId="opt1" [disabled]="loggedUser !== 'unitApprover'"></p-radioButton>
              <p-radioButton required name="group1" value="REJECT" label="Reject" [(ngModel)]="unitApproverAction" inputId="opt2" class="radio-separator" [disabled]="loggedUser !== 'unitApprover'"></p-radioButton>
            </div>
          </div>
        </p-card>
    </form>
  </div>
  <div class="row-separator"> <!--*ngIf="showBocApproval"-->
    <form #bocForm="ngForm">
      <fieldset [disabled]="bocApprovalFieldsetDisabled">
        <p-card [style]="{'width': '100%'}">
          <p-header>
            BOC Approvals:
          </p-header>
          <div class="p-grid">
            <div class="p-col-4">
              <div class="p-grid">
                <div class="p-col-3 form-label">
                  Email:
                </div>
                <div class="p-col-9">
                  <input type="text" class="full-width" pInputText [(ngModel)]="bocApproverEmail" name="bocApproverEmail" #bocApproverEmailModel ="ngModel" required/>
                  <div *ngIf="bocApproverEmailModel.invalid && (bocApproverEmailModel.touched || (bocApproverEmailModel.pristine && formSubmitted)) && bocApproverEmailModel.errors.required" class="error-alert">BOC Approver Email is required</div>
                </div>
              </div>
              <div class="p-grid row-separator">
                <div class="p-col-3 form-label">
                  Date:
                </div>
                <div class="p-col-9">
                  <p-calendar [(ngModel)]="bocApprovedDate" name="bocApprovedDate" showButtonBar="true" [readonlyInput]="true" [showIcon]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'92%'}"  #bocApprovedDateModel ="ngModel" required></p-calendar>
                  <div *ngIf="bocApprovedDateModel.invalid && (bocApprovedDateModel.touched || (bocApprovedDateModel.pristine && formSubmitted)) && bocApprovedDateModel.errors.required" class="error-alert">BOC Approver Date is required</div>
                </div>
              </div>
            </div>
            <div class="p-col-7 p-offset-1">
              <div class="p-grid">
                <div class="p-col-2 form-label">
                  Comments:
                </div>
                <div class="p-col-10">
                  <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="true" [(ngModel)]="bocApproverComments" name="bocApproverComments" class="full-width" #bocApproverCommentsModel ="ngModel" required></textarea>
                  <div *ngIf="bocApproverCommentsModel.invalid && (bocApproverCommentsModel.touched || (bocApproverCommentsModel.pristine && formSubmitted)) && bocApproverCommentsModel.errors.required" class="error-alert">BOC Approver Comments are required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-grid row-separator">
            <div class="p-col-5 form-label p-grid p-justify-end">
              Select an option:
            </div>
            <div class="p-col-5 p-grid actions-separator">
              <p-radioButton name="group2" value="APPROVE" label="Approve" [(ngModel)]="bocApproverAction" inputId="opt3"[disabled]="loggedUser !== 'bocApprover'"></p-radioButton>
              <p-radioButton name="group2" value="REJECT" label="Reject" [(ngModel)]="bocApproverAction" inputId="opt4" class="radio-separator" [disabled]="loggedUser !== 'bocApprover'"></p-radioButton>
            </div>
          </div>
        </p-card>
      </fieldset>
    </form>
  </div>
  <div class="row-separator" > <!--*ngIf="showControllerApproval"-->
    <form #controllerForm="ngForm">
      <fieldset [disabled]="controllerFieldsetDisabled">
        <p-card [style]="{'width': '100%'}">
          <p-header>
            Controller Approvals:
          </p-header>
          <div class="p-grid">
            <div class="p-col-4">
              <div class="p-grid">
                <div class="p-col-3 form-label">
                  Email:
                </div>
                <div class="p-col-9">
                  <input type="text" class="full-width" pInputText [(ngModel)]="controllerApproverEmail" name="controllerApproverEmail" [disabled]="true"/>
                </div>
              </div>
              <div class="p-grid row-separator">
                <div class="p-col-3 form-label">
                  Date:
                </div>
                <div class="p-col-9">
                  <p-calendar [(ngModel)]="controllerApprovedDate" name="controllerApprovedDate" showButtonBar="true" [readonlyInput]="true" [showIcon]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'92%'}"  #controllerApprovedDateModel ="ngModel" required>></p-calendar>
                  <div *ngIf="controllerApprovedDateModel.invalid && (controllerApprovedDateModel.touched || (controllerApprovedDateModel.pristine && formSubmitted)) && controllerApprovedDateModel.errors.required" class="error-alert">Controller Date is required</div>
                </div>
              </div>
            </div>
            <div class="p-col-7 p-offset-1">
              <div class="p-grid">
                <div class="p-col-2 form-label">
                  Comments:
                </div>
                <div class="p-col-10">
                  <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="true" [(ngModel)]="controllerApproverComments" name="controllerApproverComments" class="full-width" #controllerApproverCommentsModel ="ngModel" required></textarea>
                  <div *ngIf="controllerApproverCommentsModel.invalid && (controllerApproverCommentsModel.touched || (controllerApproverCommentsModel.pristine && formSubmitted)) && controllerApproverCommentsModel.errors.required" class="error-alert">Controller Comments are required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-grid row-separator">
            <div class="p-col-5 form-label p-grid p-justify-end">
              Select an option:
            </div>
            <div class="p-col-5 p-grid actions-separator">
              <p-radioButton name="group3" value="APPROVE" label="Approve" [disabled]="loggedUser !== 'controller'" [(ngModel)]="controllerApproverAction" inputId="opt5" #controllerApproverActionModel ="ngModel" required></p-radioButton>
              <p-radioButton name="group3" value="REJECT" label="Reject" [disabled]="loggedUser !== 'controller'" [(ngModel)]="controllerApproverAction" inputId="opt6" class="radio-separator" #controllerApproverActionModel ="ngModel" required></p-radioButton>
            </div>
          </div>

          <div class="p-col-5 form-label p-grid p-justify-end">
            &nbsp;
          </div>
          <div class="p-col-5 p-grid actions-separator">
            <div *ngIf="controllerApproverActionModel.invalid && (controllerApproverActionModel.touched || (controllerApproverActionModel.pristine && formSubmitted)) && controllerApproverActionModel.errors.required" class="error-alert">Please select an Option</div>
          </div>
        </p-card>
      </fieldset>
    </form>
  </div>
  <div class="row-separator">
    <div class="p-grid">
      <div class="p-col-4">
        <button pButton type="button" label="Print" class="ui-button-raised ui-button-secondary"></button>
        <button pButton type="button" label="Save My Work" class="button-separator ui-button-raised ui-button-secondary"></button>
        <button pButton type="button" label="Preload Data" class="button-separator ui-button-raised ui-button-secondary" (click)="preloadData()"></button>
        <button pButton type="button" label="Clear Data" class="button-separator ui-button-raised ui-button-secondary" (click)="clearPreloadedData()"></button>
      </div>
      <div class="p-col-8 right-text-align">
        <button pButton type="button" label="Previous Page" class="ui-button-raised ui-button-info" routerLink="/"></button>
        <button pButton type="button" label="Submit" class="ui-button-raised ui-button-success button-separator" (click)="submitCo()"></button>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
