<div class="app-container">
  <div class="p-grid">
    <div class="p-col-12 no-padding">
      <app-header></app-header>
    </div>
  </div>
  <div class="p-grid app-content">
    <div class="p-col-12 no-padding">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-spinner></app-spinner>
</div>
