.header-img {
  content: url('../../../../assets/UC_ANR.png');
  float: left;
  clear: both;
  height: 60px;
  width: 25em;
  cursor: pointer;
}

.page-header {
  font-size: 30px;
  color: #243673;
  font-weight: 700;
}

:host ::ng-deep .header-img:focus {
  outline: none;
}

.login-div {
  padding: 40px;
  height: 10em;
}
