<div class="p-grid p-align-center">
  <div class="p-col-4">
    <span class="header-img" routerLink="/"></span>
  </div>
  <div class="p-col-7 p-grid p-justify-center p-align-center page-header">
    Confirming Order / Unauthorized Purchase Justification
  </div>
  <div class="p-col-1">
    <button pButton type="button" label="Login" class="ui-button-raised ui-button-info button-separator" (click)="visibleSidebar = true"></button>
  </div>
</div>

<p-sidebar [(visible)]="visibleSidebar" position="top" [baseZIndex]="10000">
  <div class="p-grid login-div center-text-align">
    <div class="p-col-12">
      <span class="login-text">
        Login as:
      </span>
      <button pButton type="button" (click)="updateLoggedUser('applicant')" label="Applicant" class="ui-button-info button-separator"></button>
      <button pButton type="button" [disabled]="!enableApproverRoles" (click)="updateLoggedUser('unitApprover')" label="Unit Approver" class="ui-button-info button-separator"></button>
      <button pButton type="button" [disabled]="!enableApproverRoles" (click)="updateLoggedUser('bocApprover')" label="BOC Approver" class="ui-button-info button-separator"></button>
      <button pButton type="button" [disabled]="!enableApproverRoles" (click)="updateLoggedUser('controller')" label="Controller" class="ui-button-info button-separator"></button>
    </div>
    <div class="p-col">
      Submit a request as Applicant to enable approvers
    </div>
  </div>

</p-sidebar>
