<div class="confirming-order">
  <form #confirmingOrderForm="ngForm">
    <fieldset [disabled]="fieldsetDisabled">
      <div>
        <p-card [style]="{'width': '100%'}">
          <p-header>
            Disclaimer:
          </p-header>
          <p>
            Unauthorized purchases are commitments made on behalf of the University of California without obtaining the required delegated approval authorization prior to the purchase or
            procurement of goods and services. These actions violate UC Purchasing policy. Unauthorized puschases will be reviewed by the UC ANR department head, the BOC and the controller's
            office for consideration of an exceptional approval based on the demonstrated business need. Per UC policy, if the request for an exception for an unauthorized purchase is disapproved,
            the individual who made the unauthorized purchase will be responsible for returning the goods or for personally paying for the charges.
          </p>
        </p-card>
      </div>
      <div class="row-separator">
        <p-card [style]="{'width': '100%'}">
          <p-header>
            Purchase Information:
          </p-header>
          <div class="p-grid">
            <div class="p-col-1 form-label">
              Vendor Name:
            </div>
            <div class="p-col-2">
              <input required="true" type="text" class="full-width" pInputText [(ngModel)]="vendorName" name="vendorName"/>
            </div>
            <div class="p-col-2 p-offset-1 form-label">
              Date of Purchase or when services were performed:
            </div>
            <div class="p-col-2">
              <p-calendar required="true" [(ngModel)]="purchaseDate" name="purchaseDate" showButtonBar="true" [readonlyInput]="true" [showIcon]="true" [style]="{'width':'100%'}" [inputStyle]="{'width':'88%'}" ></p-calendar>
            </div>
            <div class="p-col-1 p-offset-1 form-label">
              Amount Paid:
            </div>
            <div class="p-col-2">
              <input required="true"  type="number" class="full-width" pInputText [(ngModel)]="amountPaid" name="amountPaid"/>
            </div>
          </div>
        </p-card>
      </div>
      <div class="row-separator">
        <p-card [style]="{'width': '100%'}">
          <p-header>
            After-the-fact Purchase Information:
          </p-header>
          <div class="p-grid">
            <div class="p-col-2 form-label">
              Type of Unauthorized, After-the-fact Purchase :
            </div>
            <div class="p-col-6">
              <div *ngFor="let option of options" class="p-col-12 p-field-checkbox co-checkbox">
                <p-checkbox required="true" name="group" value="option.value" [value]="option.value" [disabled]="fieldsetDisabled" [(ngModel)]="purchaseType" name="purchaseType" [inputId]="option.value"></p-checkbox>
                <label class="option-label" [for]="option.value">{{option.label}}</label>
              </div>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-2 form-label">
              Description:
            </div>
            <div class="p-col-6">
              <input type="text" class="full-width" pInputText [(ngModel)]="description" name="description"/>
            </div>
          </div>
          <div class="p-grid">
            <div class="p-col-2 form-label">
              Business Program:
            </div>
            <div class="p-col-6">
              <input required="true" type="text" class="full-width" pInputText [(ngModel)]="businessProgram" name="businessProgram"/>
            </div>
          </div>
          <div class="p-grid">
          <div class="p-col-2 form-label">
            Reason for Unauthorized Purchase:
          </div>
          <div class="p-col-6">
            <textarea required="true" [rows]="5" [cols]="30" pInputTextarea autoResize="true" [(ngModel)]="reasonForUnAuthPurchase" name="reasonForUnAuthPurchase" class="full-width"></textarea>
          </div>
        </div>
        </p-card>
      </div>
    </fieldset>
      <div class="row-separator">
        <div class="p-grid">
          <div class="p-col-4">
            <button pButton type="button" label="Print" [disabled]="fieldsetDisabled" class="ui-button-raised ui-button-secondary"></button>
            <button pButton type="button" label="Save My Work" [disabled]="fieldsetDisabled" class="button-separator ui-button-raised ui-button-secondary"></button>
            <button pButton type="button" label="Preload Data" [disabled]="fieldsetDisabled" class="button-separator ui-button-raised ui-button-secondary" (click)="preloadData()"></button>
            <button pButton type="button" label="Clear Data" [disabled]="fieldsetDisabled" class="button-separator ui-button-raised ui-button-secondary" (click)="clearPreloadedData()"></button>
          </div>
          <div class="p-col-8 right-text-align">
            <button pButton type="button" label="Next Page" [disabled]="!confirmingOrderForm.valid" class="ui-button-raised ui-button-info" (click)="gotoNextPage()"></button>
          </div>
        </div>
      </div>

  </form>
</div>
