.confirming-order .ui-card-header {
  @extend .back-ground-color;
  color: white;
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
}

.back-ground-color {
  background: #243673;
}


.app-custom-spinner .ui-dialog {
  box-shadow: none !important;;
}
.app-custom-spinner {
  position: absolute;
  left: 46%;
  top: 12%;
  .ui-dialog-titlebar, .ui-dialog-content {
    background: none !important;
    border: 0 !important;
  }
}
