.app-container {
  padding: 20px 30px;
}

.app-content {
  margin-top: 20px;
}

.no-padding {
  padding: 0px;
}

.row-separator {
  margin-top: 20px;
}

.full-width {
  width: 100%;
}

.form-label {
  font-weight: 600;
}

.option-label {
  margin-left: 10px;
}

.button-separator {
  margin-left: 20px !important;
}

.right-text-align {
  text-align: right;
}

.center-text-align {
  text-align: center;
}

body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.actions-separator {
  padding-left: 50px;
}

.radio-separator {
  padding-left: 15px;
}

.login-text {
  @extend .form-label;
  font-size: 20px;
}

.error-alert {
  color: red;
}
